<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="topbar">
  <div id="topbar-content">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/enigma">Enigma</a></li>
      <li><a href="/balls">Applet</a></li>
      <li><a href="/weather">Weather</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</div>

<div id="container">
  <div id="header">
    <h1><a href="/balls">Bouncing Balls Applet</a></h1>
  </div>
  <div id="content">
    <p>You must have Java enabled to view the applet below.<br/>
      Use the mouse to apply force towards the cursor position.<br/>
    </p>
    <object classid="java:game/Game.class" type="application/x-java-applet" archive="/applets/Game.jar" width="750" height="550">
      <param name="NumBalls" value="2"/>
      <param name="Radius" value="25"/>
      <param name="HeightMetres" value="10"/>
      <param name="InitialVelocityX" value="0"/>
      <param name="InitialVelocityY" value="0"/>
      <param name="AccelerationX" value="0"/>
      <param name="AccelerationY" value="9.80665"/>
      <param name="EnergyLossLeft" value="0.8"/>
      <param name="EnergyLossRight" value="0.8"/>
      <param name="EnergyLossTop" value="0.8"/>
      <param name="EnergyLossBottom" value="0.8"/>
      <param name="EnergyLossCollision" value="1"/>
      <param name="Circular" value="false"/>
      You need to get Java!
    </object>
  </div>

  <div id="footer">

    <div id="footer-right">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/enigma">Enigma</a></li>
        <li><a href="/balls">Applet</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>

    <div class="g-plusone" data-width="450"></div>
    <div class="fb-like" data-href="http://dynomike.co.uk/balls" data-send="false" data-width="450" data-show-faces="false"></div>
  </div>
</div>

<script type="text/javascript">
    window.___gcfg = {lang: 'en-GB'};

    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
