// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#display-blogs {
    margin: 10px;
}
#display-blogs h1 {
    color: black;
    font-size: 20px;
    line-height: 50px;
}

.blog {
    line-height: 15px;
    padding: 10px;
    border: 1px groove #333333;
}
.blog a {
    color: #3B5998;
    text-decoration: none;
}
.blog a:hover {
    color: #f5f5f5;
    background-color: #3B5998;
}
.blog h2 a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.blog h2 a:hover {
    color: #3B5998;
    background-color: inherit;
}
.blog h3 {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    margin: 0px;
}

#new-blog h2 {
    padding-top: 8px;
    border-top:  1px groove #333333;
}

#edit-blog h2 a {
    color: black;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
}